<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeMapper">
    <resultMap id="noticeResultMap" type="com.human.notice.vo.NoticeVO">
        <result property="n_idx" column="n_idx"/>
        <result property="n_category" column="n_category"/>
        <result property="n_title" column="n_title"/>
        <result property="n_content" column="n_content"/>
        <result property="n_regdate" column="n_regdate"/>
        <result property="n_update" column="n_update"/>
        <result property="n_status" column="n_status"/>
    </resultMap>

    <select id="selectAll" resultMap="noticeResultMap">
        SELECT * FROM tb_notice WHERE n_status = 'N'
    </select>

    <select id="selectByCategory" parameterType="string" resultMap="noticeResultMap">
        SELECT * FROM tb_notice WHERE n_category = #{category} AND n_status = 'N'
    </select>
    
    <insert id="insertNotice">
        INSERT INTO tb_notice (n_category, n_title, n_content)
        VALUES (#{n_category}, #{n_title}, #{n_content})
    </insert>
</mapper>
